<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yebba.services">

    <application>
        <service
            android:name=".CoreService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.yebba.services.BIND_CORE" />
            </intent-filter>
        </service>
    </application>
</manifest>
